<h2>Add Inventory to the Database</h2>

<form method="post">

    <input type="text" name="ItemName" placeholder="Enter Ingredient Name" required />
    <label>Ingredient Name</label>
    <br />
    <input type="number" name="Quantity" placeholder="Enter Quantity" required />
    <label>Quantity</label>
    <br />
    <input type="text" name="Units" placeholder="Enter Quantity UoM" required />
    <label>Qty UoM</label>
    <br />
    <label>IsGarnish</label>
    <input type="radio" name="Garnish" required value="true" />
    <label>Yes</label>
    <input type="radio" name="Garnish" required value="false" />
    <label>No</label>

    <br />
    <br />

    <input type="submit" />

</form>
