<form align="center" asp-action="DrinkByMood" asp-controller="Home">
    <label>How are you feeling today?</label>
    <select id="cocktail">
        <option value="Shot">Crabby</option>
        <option value="Cocoa">Festive</option>
        <option value="Beer">Sporty</option>
        <option value="Punch / PartyDrink">Flirty</option>
        <option value="Milk / Float / Shake">Luscious</option>
        <option value="Homemade Liquer">Crafty</option>
        <option value="Soft Drink / Soda">Zany</option>
        <option value="Other/Unknown">Random</option>
    </select>
    <input type="submit" value="Go!" />
</form>
<br />