<html>
<body>

    <form align="center" asp-action="DrinkByMood" asp-controller="Home">
        <label>How are you feeling today?</label>
        <select name="strCategory">
            <option value="Shot">Rowdy</option>
            <option value="Cocoa">Festive</option>
            <option value="Beer">Sporty</option>
            <option value="Cocktail">Flirty</option>
            <option value="Milk / Float / Shake">Luscious</option>
            <option value="Soft Drink / Soda">Zany</option>
            <option value="Coffee / Tea">Sleepy</option>
            <option value="Other/Unknown">Random</option>
        </select>
        <input type="submit" value="Go!" class="btn1" />
    </form>
    <br />
</body>
</html>

