@model Rootobject


@foreach (Drink d in Model.drinks)
{
    <h2>@d.strDrink</h2>
    <img src="@d.strDrinkThumb" class="center" style="height: 150px; width: auto;" />
    <br />
    <div>
        <form asp-action="DrinkDetails" asp-controller="Home" asp-route-id="@d.idDrink">
            <button class="btn1">
                Learn More!
            </button>
        </form>
        <button>
            <a asp-action="Create" asp-controller="DrinkSales" asp-route-id="@d.idDrink">Make This Drink!</a>
        </button>
    </div>
    <hr />
} 